<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8">
	<title>Cars</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
<div class="wrapper">
	<h1>HELLO CARS</h1>
	<div class="imageholder">
		<img src="/images/car1.jpeg" alt="an image of a car">
	</div>
	<div class="imageholder">
		<img src="/images/car2.jpeg" alt="an image of a car">
	</div>
	<div class="imageholder">
		<img src="/images/car3.jpeg" alt="an image of a car">
	</div>
	<div class="imageholder">
		<img src="/images/car4.jpeg" alt="an image of a car">
	</div>

</div>
	
</body>
</html>